@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 106%;
  }
}

.bread-container {
  flex-direction: row !important;
  list-style: none;
  overflow: hidden;
  font: 12px;
}
.bread-container li {
  float: left;
}

.bread-container li a {
  @apply relative float-left capitalize text-primary after:content-['|'];
}

.bread-container li:last-child a {
  @apply cursor-default font-extrabold text-primary-accent after:content-[''];
}
